.btn {
  color: black;
  font-size: 1.25rem;
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  cursor: pointer;
  transition: 400ms;
}

.btn--text-small {
  font-size: 0.85rem;
}

.btn--text-medium {
  font-size: 1.25rem;
}

.btn--text-large {
  font-size: 1.65rem;
}

.btn--background-transparent {
  background-color: transparent;
}

.btn--background-black {
  background-color: black;
}

.btn-background-white {
  background-color: white;
}

.btn-border-black {
  border-color: black;
}

.btn--text-white {
  color: white;
}

.btn--text-black {
  color: black;
}
