.image-slider {
  display: flex;
  align-items: center;
  margin: 20px;
}

.image-slider__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.image-slider__title {
  text-align: center;
}

.image-slider__photo {
  width: 60%;
}

@media screen and (max-width: 960px) {
  .image-slider {
    flex-direction: column;
    background-color: rgb(236, 236, 236);
  }

  .image-slider__photo {
    width: 100%;
  }
}
