.notes-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: lightgrey;
  /* height: 900px; */
  overflow-x: scroll;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding: 10px;
  align-items: center;
  min-width: 400px;
  min-height: 800px;
}

.column__title {
  /* border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: lightgrey; */
}

@media screen and (min-width: 1680px) {
  .notes-container {
    justify-content: center;
  }
}
