.address-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.suggestion-container {
  width: 90%;
}

.suggestion-container--absolute {
  width: 400px;
  position: absolute;
  top: 50px;
  z-index: 10;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.suggestion-item {
  background-color: white;
  cursor: pointer;
  padding: 5px;
}

.suggestion-item--active {
  background-color: #e0f5ff;
}

@media screen and (max-width: 960px) {
  .suggestion-container {
    width: 100%;
  }
}
